:root {
	--major-width: 100vw;
	--major-height: 95vh;
	--canvas-width: 67vw;
	--canvas-height: 93vh;
	--sidebar-width: 17vw;
	--department-width: 16vw;
	overflow: hidden;
}

.parent_div0 {
	width: 100vw;
	height: 5vh;
	/*border: red dashed 2px;*/
	background-color: gray;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
}

.parent_div1 {
	width: var(--major-width);
	height: var(--major-height);
	max-width: var(--major-width);
	max-height: var(--major-height);
	position: absolute;
	/*margin: auto;*/
	top: 5vh;
	right: 0;
	bottom: 0;
	left: 0;
	/*border: black solid 2px;*/
	background-color: darkgray;
	display: flex;
    justify-content: space-between;
}

.child_div0 {
	width: var(--department-width);
	height: var(--major-height);
	max-width: var(--department-width);
	max-height: var(--canvas-height);
	display: inline-block;
	/*border: black solid 2px;*/
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	/*overflow-y: scroll;*/
	/*float: none;*/
}
.child_div0::-webkit-scrollbar {
  display: none;
}

#department_container {
	align-content: center;
}

.department_button {
	color: white;
	border-radius: 6px;
	padding: 12px;
	margin-left: 4px;
	margin-right: 4px;
}

.child_div1 {
	width: var(--canvas-width);
	height: var(--major-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
	display: inline-block;
	/*border: black solid 2px;*/
	background-color: lightgray;
	/*float: none;*/
}

.canvas_container {
	width: var(--canvas-width);
	height: var(--canvas-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
	/*border: black solid 2px*/
}

.child_div2 {
	width: var(--sidebar-width);
	height: var(--major-height);
	max-width: var(--sidebar-width);
	max-height: var(--canvas-height);
	display: inline-block;
	/*border: black solid 2px;*/
	/*float: right;
	overflow-y: scroll;*/
	background-color: dimgray;
}

.controls_container {
	width: var(--sidebar-width);
	max-width: var(--sidebar-width);
	position: relative;
}

body {
    background-color: aqua;
    text-align: center;
}