:root {
	--major-width: 100vw;
	--major-height: 95vh;
	--canvas-width: 100vw;
	--canvas-height: 95vh;
	--sidebar-width: 17vw;
	--department-width: 16vw;
	overflow: hidden;
}

.parent_div0 {
	width: 100vw;
	height: 5vh;
	background-color: gray;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1 {
	margin: 4px auto;
	display: inline-block;
	color: white;
}

h1:hover {
	cursor: pointer;
}

.parent_div1 {
	width: var(--major-width);
	height: var(--major-height);
	max-width: var(--major-width);
	max-height: var(--major-height);
	position: absolute;
	top: 5vh;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: darkgray;
	display: flex;
    justify-content: space-between;
}

.child_div0 {
	width: var(--department-width);
	min-width: 160px;
	height: var(--major-height);
	max-width: 240px;
	max-height: var(--canvas-height);
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.child_div0::-webkit-scrollbar {
  display: none;
}

#department_container {
	align-content: center;
}

.department_button {
	color: white;
	border-radius: 6px;
	padding: 12px;
	margin: 10px 6px;
	display: block;
	box-shadow: 3px 3px 3px dimgray;
}

.active_department {
	border: solid red 3px;
}

.child_div1 {
	width: var(--canvas-width);
	height: var(--major-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
	display: inline-block;
	background-color: lightgray;
}

.canvas_container {
	width: var(--canvas-width);
	height: var(--canvas-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
}

.child_div2 {
	width: var(--sidebar-width);
	max-width: 300px;
	min-width: 240px;
	max-height: var(--canvas-height);
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	overflow: auto;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.child_div2::-webkit-scrollbar {
  display: none;
}

.controls_container {
	width: var(--sidebar-width);
	max-width: 300px;
	min-width: 240px;
	position: relative;
}

body {
    background-color: dimgray;
    text-align: center;
}

