:root {
	--top-bar-height: 3rem;
	--major-width: 100vw;
	--major-height: calc(100vh - var(--top-bar-height));
	--canvas-width: 100vw;
	--canvas-height: calc(100vh - var(--top-bar-height));
	--sidebar-width: 17vw;
	--department-width: 16vw;
	--background-color: #ffe6e6;
	--dtu-color: #990000;
	--font-color: #ffffff;
	--table-cell-color: #cc0000;
	--active-color: #ffffff;
	overflow: hidden;
	font-family: 'Neo Sans Pro', sans-serif;
}

.parent_div0 {
	width: var(--major-width);
	height: var(--top-bar-height);
	background-color: var(--dtu-color);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

h1 {
	margin: 0.25rem auto;
	display: inline-block;
	color: var(--font-color);
}

h1:hover {
	cursor: pointer;
}

h3 {
	margin-bottom: 0.25rem;
	margin-top: 0.25rem;
	color: var(--font-color);
}

#info_icon {
	font-size: 1.5rem;
	color: var(--font-color);
	float: right;
	margin-right: 1rem;
	margin-top: 0.6rem;
}

#info_box {
	display: none;
	position: absolute;
	width: 40vw;
	border-radius: 0.5rem;
	z-index: 1;
	background-color: var(--dtu-color);
	border-color: black;
	padding: 0.3rem;
	top: 3.5rem;
	right: 0.5rem;
}

table {
	table-layout: auto;
	width: 100%;
	color: var(--font-color)
}

td {
	background-color: var(--table-cell-color);
}

.table_cell_key {
	width: 30%;
}

.table_cell_action {
	width: 70%;
}

.parent_div1 {
	width: var(--major-width);
	height: var(--major-height);
	max-width: var(--major-width);
	max-height: var(--major-height);
	position: absolute;
	top: var(--top-bar-height);
	right: 0;
	bottom: 0;
	left: 0;
	background-color: darkgray;
	display: flex;
    justify-content: space-between;
}

.child_div0 {
	width: var(--department-width);
	min-width: 11rem;
	height: var(--major-height);
	max-width: 15rem;
	max-height: var(--canvas-height);
	position: absolute;
}

#department_container {
	position: relative;
	margin-top: 1rem;
	height: calc(100% - 1rem);
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

#department_container::-webkit-scrollbar {
  display: none;
}

#hide_department_button {
	font-size: 0.7rem;
	background-color: black;
	color: var(--font-color);
	width: var(--department-width);
	min-width: 11rem;
	max-width: 15rem;
	border: 0;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0.25rem;
	z-index: 1;
}
#hide_department_button:hover {
	cursor: pointer;
}

.department_button {
	color: var(--font-color);
	text-decoration: none;
	border-radius: 0.4rem;
	padding: 0.7rem;
	margin: 0.6rem 0.4rem;
	display: block;
	box-shadow: 0.2rem 0.2rem 0.2rem dimgray;
}

.active_department {
	border: solid var(--active-color) 0.2rem;
}

.child_div1 {
	width: var(--canvas-width);
	height: var(--major-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
	display: inline-block;
	background-color: var(--background-color);
}

.canvas_container {
	width: var(--canvas-width);
	height: var(--canvas-height);
	max-width: var(--canvas-width);
	max-height: var(--canvas-height);
}

.child_div2 {
	width: var(--sidebar-width);
	max-width: 18rem;
	min-width: 15rem;
	max-height: var(--canvas-height);
	padding-bottom: 1.3rem;
	position: absolute;
	right: 0;
	overflow: auto;
	-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
.child_div2::-webkit-scrollbar {
  display: none;
}

.controls_container {
	width: var(--sidebar-width);
	max-width: 18rem;
	min-width: 15rem;
	position: relative;
	right: -1px; /* UGLY, but for some reason necessary..*/
}

body {
    background-color: var(--background-color);
    text-align: center;
}


#label_for_course_search {
	float: left;
	margin-left: 0.7rem;
	margin-top: 0.7rem;
}

.autocomplete {
	margin-top: 0.6rem;
	position: absolute;
	left: 2.3rem;
	display: inline-block;
	width: 15rem;
}

input {
	border: 0.1rem solid transparent;
	background-color: #f1f1f1;
	padding: 0.2rem;
	font-size: 1rem;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	border: 0.1rem solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	max-height: var(--canvas-height);
	overflow-y: auto;
}

.autocomplete-items div {
	padding: 0.3rem;
	cursor: pointer;
	background-color: var(--font-color);
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: var(--dtu-color) !important;
	color: var(--font-color);
}