{% extends 'base.html' %}

{% block head %}
<title>DTUCourseViewer</title>
<style>
    @import url('https://fonts.cdnfonts.com/css/neo-sans-pro');
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/libs/d3.v4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/dat.gui.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/sweetalert2.all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/lodash.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<script>
    // =========== GET DATA AND CONFIG FROM URL PARAMETERS =================
    let department2color = {};
    window.addEventListener('load', () => {
        let department_elements = document.getElementsByClassName("department_button")
        Object.values(department_elements).forEach(department => {
            department2color[department.innerHTML] = department.style.backgroundColor
        })
        loadNetwork("{{ network_path }}", "{{ data_path }}", "{{ config_path }}");
    })

    function loadNetwork(network_path, data_path, config_path) {
        controls = {};
        controls['file_path'] = network_path;
        d3.json(data_path, function(_data) {
            d3.json(config_path, new_controls => {
                controls = {...controls, ...new_controls}
                vis(controls, _data);
            })
        })
    }

    function toggleInfo(value) {
        let ele = document.getElementById('info_box')
        ele.style.display = value
    }
</script>
{% endblock %}

{% block body %}
<div class="parent_div0">
    <label for="course_search" id="label_for_course_search" style="color: white;">&#x1F50E;&#xFE0E;</label>
    <div class="autocomplete">
        <input type="text" name="course_search" id="course_search" autocomplete="off">
    </div>
    <span id="info_icon" onmouseover="toggleInfo('block')" onmouseleave="toggleInfo('none')">&#9432;</span>
    <div id="info_box">
        <h3>Controls</h3>
        <table>
            <tr>
                <th>Key</th><th>Action</th>
            </tr>
            {% for key, action in controls.items() %}
            <tr>
                <td class="table_cell_key">{{key}}</td><td class="table_cell_action">{{action}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h1 onclick="window.location.href='/'">DTU Course Viewer</h1>
</div>
<div class="parent_div1">
    <button id="hide_department_button" onclick="
        if (this.innerHTML === 'Close Departments') {
            this.innerHTML =  'Open Departments'
            this.nextElementSibling.style.display = 'none'
        } else {
            this.innerHTML =  'Close Departments'
            this.nextElementSibling.style.display = 'block'
        }
    ">Close Departments</button>
    <div class="child_div0">
        <div id="department_container">
        {% for department in departments %}
            {% if department.name[:2] == active_department %}
            <a href="/{{ department.name[:2] }}" class="department_button active_department" style="background-color: {{department.color}};" autofocus>{{ department.name if department.id != 0 else department.name[3:] }}</a>
            {% else %}
            <a href="/{{ department.name[:2] }}" class="department_button" style="background-color: {{department.color}};">{{ department.name if department.id != 0 else department.name[3:] }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="child_div1">
        <div class="canvas_container">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    <div class="child_div2">
        <div class="controls_container"></div>
    </div>
</div>
{% endblock %}